<mat-toolbar color="primary">
    <span>{{ title }}</span>

    <span class="spacer"></span>

    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="translate.use('da-dk')">
            <span translate="language.danish"></span>
        </button>
        <button mat-menu-item (click)="translate.use('en-gb')">
            <span translate="language.english"></span>
        </button>
    </mat-menu>
</mat-toolbar>

